{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Questions</title>
</head>
<body>
    {% block content %}

    <div class="container mx-auto p-4">
        <!-- <h1 class="text-3xl font-bold mb-4">Questions</h1> -->
        {% if subjects %}
            <ul class="grid grid-cols-1 gap-4">
                {% for subject, questions in subjects.items %}
                    <li>
                        <h2 class="text-xl font-semibold mb-2">{{ subject }}</h2>
                        {% for question in questions %}
                            <div class="bg-white p-4 rounded-md shadow-md cursor-pointer">
                                <p class="text-gray-600 text-justify">{{ question.q_text }}</p>
                                <div class="flex justify-center">
                                    <img src="media/{{ question.q_images }}" alt="{{ question.q_text }}" class="mx-auto">
                                </div>
                                <form>
                                    {% for answer in question.answers %}
                                        <div class="{% if answer.a_iscorrect %}correct{% else %}incorrect{% endif %}">
                                            <label class="block mb-2 p-4 border border-gray-300 rounded-md hover:border-blue-500 transition duration-300 bg-white flex items-center">
                                                <input type="radio" name="answer{{ question.question_id }}" value="{{ answer.a_text }}" class="mr-2" data-correct="{{ answer.a_iscorrect }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-green-500 mr-2 correct-icon hidden">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-red-500 mr-2 incorrect-icon hidden">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                                </svg>
                                                <span class="text-lg">{{ answer.a_text }}</span>
                                            </label>                                            
                                        </div>
                                    {% endfor %}
                                </form>
                            </div>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-600">No questions found.</p>
        {% endif %}
    </div>

    <script>
    document.querySelectorAll('input[type="radio"]').forEach(radioButton => {
    radioButton.addEventListener('change', function() {
        const label = this.closest('label');
        const correctIcon = label.querySelector('.correct-icon');
        const incorrectIcon = label.querySelector('.incorrect-icon');

        if (this.dataset.correct === 'True') {
            correctIcon.classList.remove('hidden');
            incorrectIcon.classList.add('hidden');
        } else {
            correctIcon.classList.add('hidden');
            incorrectIcon.classList.remove('hidden');
        }
    });
});

    </script>

    {% endblock %}

</body>
</html>

