{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">User Profile</h2>
        <div class="bg-white p-4 shadow-md rounded-md">
            <p class="text-lg"><strong>Username:</strong> {{ getUser.username }}</p>
            <p class="text-lg"><strong>First name:</strong> {{ getUser.first_name }}</p>
            <p class="text-lg"><strong>Last name:</strong> {{ getUser.last_name }}</p>
            <p class="text-lg"><strong>Email:</strong> {{ getUser.email }}</p>
            <p class="text-lg"><strong>Phone:</strong> {{ getUser.phone }}</p>
           
        </div>
    </div>
    {% endblock %}
    
</body>
</html>